$card-bg-color: white;
$primary-font-color: rgb(54, 54, 54);

$section-1-bg-color: #fff18f;
$section-2-bg-color: #c5ff8f;
$section-3-bg-color: #8fffdd;
$section-4-bg-color: #8fc0ff;
$section-5-bg-color: #a48fff;
$section-6-bg-color: #ff8fff;

$card-margin-sm: 1em;
$card-margin-lg: 20vw;

$card-margin-md: 20vw;

$card-margin-left-lg: 5vw;
$card-margin-right-lg: 35vw;